@import '../../../styles/custom-design';

:host {
  display: block;
  background-color: $background-color;
  padding: $spacing-medium;
  border-radius: $border-radius-medium;
  box-shadow: $shadow-small;
}

h2 {
  color: $primary-color;
  font-family: $font-family-base;
  font-size: $font-size-large;
}

form {
  display: flex;
  flex-direction: column;
  gap: $spacing-medium;

  mat-form-field {
    width: 100%;
  }
}
